.box {
    margin: auto;
    position: absolute;
    top: 75px;
    bottom: 0;
    left: -72px;
    right: 0;
    width: 500px;
    height: 155px;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
}

.box2 {
  background-color:#EDC87C;
  padding: 0 20px;
  color: #66441F;
  box-shadow: 50px -30px 0 #66441F;
}

