.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url("../images/image.jpg");
    width: 1200px;
    height: 800px;
  }
  
  .content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(102, 68, 31, 0.7);
    width: 300px;
    margin-right: 20px;
    padding-left: 20px;
  }